.ceShiTable {
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    height: 100%;
}

.ceShiTable .ceShiTable-text2 {
    width: 9%;
    display: inline-block;
}
.ceShiTable .ceShiTable-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    font-weight: bold;
    color: #000;
}
.ceShiTable .ceShiTable-title span {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}


.ceShiTable  .ceShiTable-body {
    height: calc(86% - 30px);
    overflow-y: hidden;
    color: #a1b6e5;
}

.ceShiTable  .ceShiTable-body ul {
    padding-inline-start: 0px;
}

.ceShiTable  .ceShiTable-body ul .noData{
    height: 78px;
    line-height: 78px;
}

.ceShiTable  .ceShiTable-body ul li{
    background: transparent;
    display: flex;
    align-items: center;
    min-height: 24px;
    width: 100%;
}
.ceShiTable  .ceShiTable-body ul li span {
    font-size: 14px;
    width: 33%;
}

.ceShiTable  .ceShiTable-body ul li:nth-child(2n) {
    /* background: rgba(157, 217, 255, 0.1) */
}

.ceShiTable  .ceShiTable-body ul li:hover {
    /* background: rgba(87, 98, 250, 0.4); */
    /* color: rgba(255, 255, 255, 1); */
}

.ceShiTable  .ceShiTable-body::-webkit-scrollbar {
    width: 3px;
}
.ceShiTable  .ceShiTable-body::-webkit-scrollbar-thumb {
    background: rgba(0, 180, 251, 0.5);
    border-radius: 7px;
    box-shadow: inset 0 0 15px rgba(0, 180, 251, 1);
}

/* rgba(31,56,88,0.60) */